p
{
	margin: 0;
	padding: 0;
}
#message_block
{
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	border: 1px solid #bcbcbc;
	border-radius: 10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 10px;
	background-color: #e4e4e4;
	width: 550px;
	height: 330px;
	overflow: auto;
	padding: 5px;
}
input[type=text]
{
	border: 1px solid #bcbcbc;
	padding: 3px;
	float: left;
	margin-left: 10px;
	width: 490px;
}
input[type=submit]
{
	border: 1px solid #bcbcbc;
	padding: 3px;
	display: block;
	float: right;
	margin-right: 10px;
}

#email
{
	width: 300px;
	margin: 0;
}

#save
{
	clear: both;
	float: left;
}